/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight"; 
// @import "minima/custom-code-colors";
// @import "minima/darker";
// @import "minima/base";
// @import "minima/buttons";   
// @import "minima/code";   
// @import "minima/content";   
// @import "minima/labels";   
// @import "minima/layout";   
// @import "minima/navigation";   
// @import "minima/overrides";   
// @import "minima/search";   
// @import "minima/tables";   
// @import "minima/typography";   
// @import "minima/color_schemes/dark";   

.logos {
    list-style: none;
    // padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    // max-width: 740px;
}
.logos li::marker {
    flex: 0;
    // flex-basis: 5%;
    // flex-shrink: 1;
    // flex: 1 1 auto;
    // display: block;
    // width: 10%;
    // height: 10%;
}
// .logos li img{
//     width: 10%;
//     height: auto;
// }
.logos li {
    padding: 10px;
    // flex: 0;
    flex-basis: 15%;
    // flex-shrink: 1;
    // flex: 1 1 auto;
    // display: block;
    // width: 10%;
    // height: 10%;
}

.site-title {
    font-family: 'Bungee Shade', helvetica;
    font-size: 2rem;
}

.site-header {
    border-top: 0px solid #424242;
    border-bottom: 1px solid #e8e8e8;
}

.post-title {
    font-family: 'Roboto Condensed', sans-serif;
}

.page-link {
    font-family: 'Bungee', helvetica;
    font-size: 16px;
}

.home #posts {
    font-family: 'Bungee', monospace;
}

.post-link {
    font-family: 'Roboto Condensed', sans-serif;
}

center iframe {
    // display: block;
    width :100%;
}

.dataframe {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

// .post-header h1{
//     font-size: medium;
// }

// This increases width of the content area
.wrapper {
    max-width: calc(1000px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
}

.trigger a {
    color: gray;
}

canvas.marks {
    // max-width: 100%!important;
    height: auto!important;
    display: block;
    // flex-grow: 1;
}

// canvas {
//   width: auto !important;
//   padding-left: 0;
//   padding-right: 0;
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
//   max-width: 100%;
//   // width: 800px;
// }

// * {
//     border: 1px solid black;
// }

.vg-tooltip {
    border-collapse: collapse;
    padding: 0 !important;
}

.vg-tooltip table {
    border-collapse: collapse;
    padding: 0 !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

// window.onresize = function()
// {var canvasElem = document.querySelectorAll('canvas')[2];
// var w = document.getElementsByClassName("vega-embed")[2].clientWidth;
// var h = document.getElementsByClassName("vega-embed")[2].clientHeight;
// canvasElem.width = w;
// canvasElem.height = h;}